<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daniel's Blogs</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="stylesheet" href="../src/style.css" />

  <!-- fonts -->
  <link rel="preload" href="/fonts/nico-moji/NicoMoji-Regular.ttf" as="font" />
  <link rel="preload" href="/fonts/roboto/Roboto-Regular.ttf" as="font" />
  <link rel="preload" href="/fonts/roboto/Roboto-Bold.ttf" as="font" />
  <link rel="preload" href="/fonts/roboto/Roboto-Medium.ttf" as="font" />

</head>
<body class="h-full w-full bg-blue-300">
  <section class="max-w-7xl mx-auto flex w-full px-4">
    <h1 class="text-2xl text-center font-roboto font-semibold">Daniel's Blog</h1>
  </section>
  <div>
    <% for(var i=0; i < blogs.length; i++) { %>
      <div>
        <h3><%= blogs[i].title %></h3>
        <p><%= blogs[i].subtitle %></p>
      </div>
   <% } %>
  </div>
  <script type="module">
    import { blog } from '/src/blog.ts';
    blog();
  </script>
</body>
</html>