<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>Daniel Wilder</title>
    <!-- meta info -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Daniel Wilder"/>
    <meta property="twitter:title" content="Daniel Wilder"/>
    <meta name="description" content="Software Engineer, Web Devloper, Technologist" />
    <meta content="Software Engineer, Web Devloper, Technologist" property="og:description" />
    <meta content="Software Engineer, Web Devloper, Technologist" property="twitter:description" />
    <meta property="og:image" content="/images/daniel-meta.png" />
    <meta property="twitter:image" content="/images/daniel-meta.png" />
    <meta content="summary_large_image" name="twitter:card" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/style.css" />

    <!-- fonts -->
    <link rel="preload" href="/fonts/nico-moji/NicoMoji-Regular.ttf" as="font" />
    <link rel="preload" href="/fonts/roboto/Roboto-Regular.ttf" as="font" />
    <link rel="preload" href="/fonts/roboto/Roboto-Bold.ttf" as="font" />
    <link rel="preload" href="/fonts/roboto/Roboto-Medium.ttf" as="font" />
  </head>

  <body>
    <section class="main pl-4 md:pl-0 md:px-0 flex relative">
      <header class="flex w-full justify-start relative z-1 min-h-[580px] overflow-x-hidden">
        <div class="w-full max-w-sm md:max-w-lg pointer-events-none flex flex-col gap-y-3 md:gap-y-5 z-[90] h-min md:self-center ml-8 md:ml-16 md:mt-0 mt-[68px]">
          <h1 class="hero-text-header">Daniel Wilder</h1>
          <h2 class="hero-text-subheading">Software Engineer, Web Developer, Technologist</h2>
            <a href="#contact">
              <button class="pointer-events-auto flex px-8 py-2 w-min mt-5 cta rounded-md duration-100 border relative">
                <p  class="font-semibold font-roboto text-white text-xl uppercase">Contact</p>
              </button>
            </a>
        </div>

        <div class="flex w-full max-w-7xl absolute z-1 md:left-1/2 md:-translate-x-1/2 left-0 top-4 md:top-1/2 md:-translate-y-1/2 h-[580px] md:h-2/3 overflow-x-hidden" id="shockwave-grid"></div>
      </header>
    </section>

    <section class="min-h-screen md:my-0 my-16 main md:py-5 items-center justify-center flex-col flex gap-y-8 md:gap-y-16 md:px-0 px-4 relative">
      <header class="flex w-full items-center flex-col">
        <h1 class="heading">Engineering Philosophy</h1>
        <h2 class="subheading">Complex problems require simple solutions. Here's how I keep it smart and simple:</h2>
      </header>

      <div class="gap-4 flex flex-col md:flex-row lg:flex-nowrap md:flex-wrap items-center justify-center w-full">
        <div class="card">
          <div class="bg-white rounded-md p-2 flex w-min">
            <svg 
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" 
              height="24px" 
              viewBox="0 0 24 24" 
              width="24px" 
              fill="currentColor"
              class="w-7 h-7 text-black"
            >
              <path d="M0 0h24v24H0V0z" fill="none"/>
              <path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/>
            </svg>
          </div>

          <h5>Thoughtful Execution</h5>
          <p>One size does not fit all. Grasping challenges at their core informs software solutions finely tuned to those unique pain points.</p>
        </div>

        <div class="card">
          <div class="bg-white rounded-md p-2 flex w-min">
            <svg 
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" 
              height="24px" 
              viewBox="0 0 24 24" 
              width="24px" 
              fill="currentColor"
              class="w-7 h-7 text-black"
            >
            <g><rect fill="none" height="24" width="24"/></g><g><path d="M11,21h-1l1-7H7.5c-0.88,0-0.33-0.75-0.31-0.78C8.48,10.94,10.42,7.54,13.01,3h1l-1,7h3.51c0.4,0,0.62,0.19,0.4,0.66 C12.97,17.55,11,21,11,21z"/></g>
            </svg>
          </div>

          <h5>Fast Iterations</h5>
          <p>Rapid delivery cycles with a commitment to milestones. Each shipment is crafted to stand as a finalized product, ensuring efficiency and quality.</p>
        </div>

        <div class="card">
            <div class="bg-white rounded-md p-2 flex w-min">
              <svg 
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" 
                height="24px" 
                viewBox="0 0 24 24" 
                width="24px" 
                fill="currentColor"
                class="w-7 h-7 text-black"
              >
              
              <rect fill="none" height="24" width="24"/><path d="M9.68,13.69L12,11.93l2.31,1.76l-0.88-2.85L15.75,9h-2.84L12,6.19L11.09,9H8.25l2.31,1.84L9.68,13.69z M20,10 c0-4.42-3.58-8-8-8s-8,3.58-8,8c0,2.03,0.76,3.87,2,5.28V23l6-2l6,2v-7.72C19.24,13.87,20,12.03,20,10z M12,4c3.31,0,6,2.69,6,6 s-2.69,6-6,6s-6-2.69-6-6S8.69,4,12,4z M12,19l-4,1.02v-3.1C9.18,17.6,10.54,18,12,18s2.82-0.4,4-1.08v3.1L12,19z"/>
              </svg>
            </div> 
            <h5>Ownership</h5>
            <p>From conception to deployment, I have a profound sense of accountability underscored by genuine pride in a project's success.</p>
        </div>
      </div>

        
    </section>

    <section class="main px-4 md:px-0 flex flex-col justify-center items-center gap-y-0 md:gap-y-4 md:mt-0 mt-8" id="contact">
      <header class="flex w-full items-center flex-col">
        <h1 class="heading">Contact Me</h1>
        <h2 class="subheading md:px-8">Want to collaborate, start a project, or just get in touch? Start a conversation below.</h2>
      </header>

      <form data-disabled="false" id="contact-form"  class="group data-[disabled=true]:opacity-40 data-[disabled=true]:cursor-not-allowed flex max-w-xl flex-wrap gap-5 items-center justify-center pt-14 md:pt-16 relative md:mx-0 mx-4">

        <div data-error=false class="error data-[error=true]:inline-flex data-[error=false]:hidden duration-300" id="form-error">
          <svg class="animate-bounce" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#fcd34d"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.73 3H8.27L3 8.27v7.46L8.27 21h7.46L21 15.73V8.27L15.73 3zM19 14.9L14.9 19H9.1L5 14.9V9.1L9.1 5h5.8L19 9.1v5.8z"/><circle cx="12" cy="16" r="1"/><path d="M11 7h2v7h-2z"/></svg>
          <p></p>
        </div>

        <input required="true" data-id="name" class="contact group-data-[disabled=true]:cursor-not-allowed group-data-[disabled=true]:pointer-events-none" placeholder="Your Name"/>
        <input required="true" data-id="email" class="contact group-data-[disabled=true]:cursor-not-allowed group-data-[disabled=true]:pointer-events-none" placeholder="Email Address"/>
        <textarea required="true" data-id="message" class="contact w-[100%] h-48 md:h-56 group-data-[disabled=true]:cursor-not-allowed group-data-[disabled=true]:pointer-events-none" placeholder="Your message here..."></textarea>
        <button data-loading="false" for="contact-form" type="submit" class="group pointer-events-auto flex px-8 py-2 w-full items-center justify-center cta rounded-md duration-100 border relative gap-x-2 group-data-[disabled=true]:cursor-not-allowed group-data-[disabled=true]:pointer-events-none" id="contact-submit">
          <svg class="group-data-[loading=true]:flex hidden animate-spin h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
          <p  class="font-semibold font-roboto text-white text-xl uppercase">Send Message</p>
        </button>
      </form>
    </section>

    <footer class="w-full py-5 flex flex-col items-center justify-center">
      <p class="text-sm text-white/60 font-roboto font-normal">© danielwilder.dev <%- copywriteYear %></p>
      <p class="text-sm text-white/60 font-roboto font-normal">Last updated: <%- lastUpdated %></p>
    </footer>

    <script type="module">
      import { main } from '/src/main.ts';
      main();
    </script>
  </body>
</html>
